.img {
    width: 50%;
    border-radius: 50%;
    margin: 30px 0 5px;
}

.examDetail {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.examDetail .name {
    font-weight: 600;
    font-size: 20px;
    margin: 10px;
}

.historyTest {
    display: flex;
    width: 75%;
    margin-left: 3px;
    padding: 20px;
    border: 3px;
    border-color: #0d6453;
    border-style: ridge;
    height: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
   
}
th{
     background-color: #1abc9c;
}
td,
th {
    border: 1px solid #7c7a7a;
    text-align: center;
    padding: 8px;
}
tr{
    height: 50px;
}
.mt-5{
    margin-top: 5px;
}