.body{
  padding: 10px;
  margin-top: 58px;

}
.examDetail{
  width: 25%;
  margin-left: 50px;
  padding: 20px;
  border: 3px;
  border-color: #0d6453;
  border-style: ridge;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.text{
  text-align: center;
}
.button{
  width: 85%;
  font-size: 17px;
  font-weight: 400;
  padding: 5px;
  margin: 10px 10px;
  background: #16a085;
  border: 1px solid #16a085;
  cursor: pointer;
}
.signup-link{
  color: #16a085;
  text-decoration: none;
  margin-bottom: 10px;
}
.test{
  width: 90%;
  margin-left: 50px;
  padding: 20px;
  display: flex;
}
#question{
  width: 75%;
  margin-left: 3px;
  padding: 20px;
  border: 3px;
  border-color: #0d6453;
  border-style: ridge;
  height: auto;
}
.textSTT{
  font-weight: 500;
}
.block{
  border-color: #0d6453;
  border-style: solid;
  margin: 1%;
  width: 23%;
  height: 25px;
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#listBlock{
  width: 90%;
  padding: 10px;
  display: flex;
  flex-flow: wrap;
}
.selected {
  background-color: #16a085;
  background: linear-gradient(to right, #00b09b, #e73535);
}